html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Variables */

:root {
  --primary-color: #6834a6;
  --white: #ffff;
  --black: #0000;
  --primary-font: "Poppins", sans-serif;
}

/* Estilos Globales */

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

[class$="__container"] {
  max-width: 120rem;
  width: 90%; /* cuando el ancho sea menos de 1200px va a ocupar el 90% */
  margin: 0 auto; /* centra el contenedor */
}

/* HEADER */

.header {
  background-image: url(../img/header_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10rem;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .header {
    background-size: 55rem;
  }
}

@media (min-width: 992px) {
  .header {
    background-size: 60rem;
  }
}

@media (min-width: 1280px) {
  .header {
    background-size: 80rem;
  }
}

@media (min-width: 1760px) {
  .header {
    background-size: 100rem;
  }
}

@media (min-width: 2140px) {
  .header {
    background-size: 120rem;
  }
}

@media (min-width: 768px) {
  .header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  width: 15rem;
  margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}

.navigation__link {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .navigation__link {
    color: var(--white);
  }
}

@media (min-width: 768px) {
  .header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
  }
}

.header__heading {
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .header__heading {
    text-align: left;
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .header__image {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.header__button {
  color: var(--white);
  background-color: var(--primary-color);
  display: block;
  margin-bottom: 4rem;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__button {
    padding: 1rem 2rem;
    display: inline-block;
  }
}

/* ¿Que es Nucleus? */

.nucleus {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nucleus__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.nucleus__grid {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .nucleus__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem;
    align-items: center;
  }
}

.list__element {
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 0.15);
  padding: 2rem;
  margin-bottom: 5rem;
  transition-property: transform;
  transition-duration: 0.3s;
}

.list__element:hover {
  transform: scale(1.05);
}

.list__heading {
  margin: 0;
  color: var(--primary-color);
  font-size: 3rem;
}

.list__text {
  margin: 0;
  font-size: 2rem;
}

/* SECURITY SECTION */

.security {
  background-color: var(--primary-color);
  padding: 10rem 0;
}

.security__heading {
  text-align: center;
  color: var(--white);
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .security__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-items: center;
  }
}

.security__image {
}

.list__element {
  background-color: var(--white);
}
